<div class="container">
  <div class="card">
     <div class="card-header">
         <h2>Personas</h2>
     </div>
  <div class="card-body">
    <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>Area</th>
            <th>AreaId</th>
            <th>EsActivo</th>
            <th>FechaAlta</th>
            <th>FechaBaja</th>
            <th>FechaModificación</th>
            <th>UsuarioAlta</th>
            <th>UsuarioBaja</th>
            <th>UsuarioModificacion</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
         <tr *ngFor="let area of gridData" class="text-center">
            <td>{{area.area}}</td>
            <td>{{area.areaId}}</td>
            <td>{{area.esActivo}}</td>
            <td>{{area.fechaAlta}}</td>
            <td>{{area.fechaBaja}}</td>
            <td>{{area.fechaModificacion}}</td>
            <td>{{area.usuarioAlta}}</td>
            <td>{{area.usuarioBaja}</td>
            <td>{{area.usuarioModificacion}}</td>
            <td>
                <button class="btn btn-warning">edit</button>
                <button class="btn btn-danger" style="margin-left: 10px">Delete</button>
            </td>
          </tr>
        </tbody>
   
    </table>
  </div>
  </div>
</div>
