

<div class="container" style="padding-top: 20px">
  <div class="card">
     <div class="card-header">
         <h4>Listado de Areas</h4>
     </div>
  <div class="card-body">
    <table class="table table-striped table-bordered table-hover dataTable no-footer">
        <thead>
          <tr class="text-center">
            <th>Area</th>
            <th>Area Id</th>
            <th>Activo</th>
            <th>FechaAlta</th>
            <th>Fecha Baja</th>
            <th>Fecha Modificación</th>
            <th>Usuario Alta</th>
            <th>Usuario Baja</th>
            <th>Usuario Modificacion</th>
            <th colspan="2">Acciones</th>
          </tr>
        </thead>
        <tbody>
         <tr *ngFor="let area of gridData" class="text-center">
            <td>{{area.area}}</td>
            <td>{{area.areaId}}</td>
            <td>{{area.esActivo}}</td>
            <td>{{area.fechaAlta}}</td>
            <td>{{area.fechaBaja}}</td>
            <td>{{area.fechaModificacion}}</td>
            <td>{{area.usuarioAlta}}</td>
            <td>{{area.usuarioBaja}}</td>
            <td>{{area.usuarioModificacion}}</td>
            <td>
                <button class="btn btn-warning">edit</button>
               
            </td>
            <td>
               
                <button class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
   
    </table>
  </div>
  </div>
</div>
